::shadow .outer {
    border: 2px solid brown;
    background: navajowhite;
    font-size: 2.5ex;
    width: 12em;
}
::shadow .checkbox-div {
    line-height: 2.5ex;
    width: 12em;
    overflow: auto;
}
::shadow .auto-complete-input {
    width: 14.5em;
    height: 2.5ex;
}
::shadow .title {
    display : inline;
}
::shadow .toggle, ::shadow .toggleClicked {
    display: inline;
    float: right;
    cursor: pointer;
    font-style: normal;
}
custom-filter /deep/ .toggle::before {
    content: '\25BC';
}
custom-filter /deep/ .toggleClicked::before {
    content: '\25C4';
}