<link rel="stylesheet" type="text/css" href="custom-filter.css" shim-shadowdom>
<link rel="stylesheet" type="text/css" href="../bower_components/jquery-bonsai/jquery.bonsai.css">
<template id="customFilterTemplate">
    <div class="outer">
        <div class="title">
            <content select="title-holder"></content>
            <i class="toggle"></i>
            <i class="fa search-icon"></i>
        </div>
        <input class="auto-complete-input" placeholder="Search in " type="text"/>
        <div class="checkbox-div"></div>
    </div>
</template>
<script src="../bower_components/webcomponents.js/webcomponents.min.js" ></script>
<script src="custom-filter.js"></script>
<script src="title-holder.js"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/jquery-bonsai/jquery.bonsai.js"></script>
<script src="../bower_components/jquery-qubit/jquery.qubit.js"></script>