<link rel="stylesheet" type="text/css" href="css/custom-filter-font.css" shim-shadowdom>
<template id="customFilterTemplate">
	<link rel="stylesheet" type="text/css" href="css/custom-filter.css">
	<link rel="stylesheet" type="text/css" href="../bower_components/jquery-bonsai/jquery.bonsai.css">
    <div class="outer">
        <div class="title">
            <i class="toggle"></i>
            <i class="fa search-icon"></i>
        </div>
        <input class="auto-complete-input" placeholder="Search in " type="text"/>
        <div class="checkbox-div"></div>
    </div>
</template>
<script src="js/custom-filter.js"></script>
<script src="js/title-holder.js"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/jquery-bonsai/jquery.bonsai.js"></script>
<script src="../bower_components/jquery-qubit/jquery.qubit.js"></script>