.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outer {
    border: 2px solid brown;
    background: navajowhite;
    font-size: 2.5ex;
    width: 13em;
}
.checkbox-div {
    line-height: 2.5ex;
    overflow: auto;
}
.auto-complete-input {
    width: 15.5em;
    height: 2.5ex;
    display : none;
}
.title {
    display : inline;
}
.toggle, .toggleClicked{
    display: inline;
    float: right;
    cursor: pointer;
    font-style: normal;
}
.search-icon {
    display: inline;
    float: right;
    cursor: pointer;
    font-style: normal;
}
.search-icon::before {
    content: '\f002';
}
.toggle::before {
    content: '\25BC';
}
.toggleClicked::before {
    content: '\25C4';
}
